services:
  3x-ui:
    image: ghcr.io/mhsanaei/3x-ui:latest 
    container_name: 3x-ui
    hostname: 3x-ui
    restart: unless-stopped 
    network_mode: host 
    volumes:
      - ./3x-ui/db/:/etc/x-ui/
      - ./3x-ui/cert/:/root/cert/ 
    environment:
      - XRAY_VMESS_AEAD_FORCED=false
      - XUI_ENABLE_FAIL2BAN=true
    tty: true

  ddns-go:
    image: jeessy/ddns-go:latest
    container_name: ddns-go
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./ddns-go:/root

  frps:
    image: snowdreamtech/frps:latest
    container_name: frps
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./frps/frps.toml:/etc/frp/frps.toml

  cloudflare:
    image: cloudflare/cloudflared:latest
    container_name: cloudflare
    dns:
      - 223.5.5.5
      - 1.1.1.1
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}